{
  "extends": "airbnb-base",
  "root": true,
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "class-methods-use-this": 0,
    "id-length": 0,
    "new-cap": 0,
    "func-names": 0,
    "no-param-reassign": 0,
    "generator-star-spacing": 0,
    "require-yield": 0,
    "global-require": 0,
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "no-unused-expressions": ["error", {
      "allowShortCircuit": true,
      "allowTernary": true,
    }],
    "max-len": ["error", {
      "ignoreUrls": true,
      "ignoreTrailingComments": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true,
      "code": 120
    }],
    "no-extend-native": ["error", { "exceptions": ["Object"] }],
    "no-console": [
      "error",
      {
        "allow": [
          "log",
          "warn",
          "error"
        ]
      }
    ]
  }
}
